            *{
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
            }

            body{
                margin: 0;
            }

            nav{
                background-color: #9bb375;
            }

            nav ul{
                list-style: none;
                text-align: center;
                padding: 30px;
                margin-bottom: 0;
            }

            nav ul li{
                display: inline;
                margin: 15px;
            }

            nav ul li a{
                text-decoration: none;
            }

            nav a:hover{
                text-decoration: underline;
            }

            header{
                background-color: rgb(231, 231, 173);
                text-align: center;
                padding: 10px;
                padding-bottom: 30px;
            }

            section{
                background-color: beige;
                padding: 20px;
            }

            footer{
                background-color: #333;
                text-align: center;
                padding: 10px;
            }

            article{
                background-color: #e7dba8;
                padding: 20px;
                margin-bottom: 25px;
                border-radius: 12px;
                box-shadow: 0 4px 8px rgba(0,0,0,0.12);
            }

            a{
                color: white;
            }

            h1{
                color: white;
            }

            h2{
                color:darkolivegreen
            }

            h4{
                color:white;
            }

            .foot-p{
                color:white;
            }

            header > p{
                color:white;
            }